@import "tailwindcss";
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 0.3px red dotted; */
}
html,
body {
  height: 100%;
  background-image: url(/src/assets/Background.svg);
  background-size: contain;
  /* background-repeat: no-repeat; */
  scroll-behavior: smooth;
}

a {
  font-size: 20px;
  font-weight: 500;
}
button {
  background-color: #4bb76f;
}
